@import url("./header.css");
@import url("./reset.css");
@media screen and (max-width:1440px) {
    .Hello h1{
        font-size: 160px;
    }
}
body{
    min-width: 320px;
    color: black;
    font-weight: 400;
}
